server {
    set $MAGE_ROOT /home/vagrant/sites/magento2/public_html;
    set $MAGE_MODE default; # or production or developer

    listen      80;
    server_name magento2.public-cms-box.dev;

    access_log  /var/log/nginx/magento2.access.log;
    error_log   /var/log/nginx/magento2.error.log;

    rewrite_log on;
    root       $MAGE_ROOT;
    index index.php index.html index.htm;

autoindex off;
# disable_symlinks on;
charset off;
#charset utf-8;
location /setup {
    try_files $uri $uri/ @setup;
}

location @setup {
    rewrite /setup /setup/index.php;
}

location / {
    rewrite / /index.php ;
}

location /pub/static {
    try_files $uri @static;
}

location @static {
    rewrite ^/pub/static/(version\d*/)?(.*)$ /pub/static.php?resource=$2 last;
}

location /pub/media {
    try_files $uri/ @mediahandler;
}
location @mediahandler {
    rewrite / /get.php;
}

location /pub/media/customer {
    deny all;
}
location /pub/media/downloadable {
    deny all;
}
location ~ /pub/media/theme_customization/.*\.xml$ {
    deny all;
}
location ~ /pub/errors/.*\.(xml|phtml)$ {
    deny all;
}

location ~ \.php$ {
    #fastcgi_pass   127.0.0.1:9000;
    fastcgi_pass   unix:/var/run/php5-fpm.sock;
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param  PHP_FLAG  "session.auto_start=off \n suhosin.session.cryptua=off";
    fastcgi_param  PHP_VALUE "memory_limit=256M \n max_execution_time=18000";
    fastcgi_param  MAGE_MODE "developer";
    include        fastcgi_params;
}
}









