/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/sites/magento2/public_html/lib/internal/flex/uploader/.project
/sites/magento2/public_html/lib/internal/flex/uploader/.settings
/sites/magento2/public_html/lib/internal/flex/varien/.actionScriptProperties
/sites/magento2/public_html/lib/internal/flex/varien/.flexLibProperties
/sites/magento2/public_html/lib/internal/flex/varien/.project
/sites/magento2/public_html/lib/internal/flex/varien/.settings
/node_modules
/.grunt

/sites/magento2/public_html/pub/media/*.*
!/sites/magento2/public_html/pub/media/.htaccess
/sites/magento2/public_html/pub/media/catalog/*
!/sites/magento2/public_html/pub/media/catalog/.htaccess
/sites/magento2/public_html/pub/media/customer/*
!/sites/magento2/public_html/pub/media/customer/.htaccess
/sites/magento2/public_html/pub/media/downloadable/*
!/sites/magento2/public_html/pub/media/downloadable/.htaccess
/sites/magento2/public_html/pub/media/theme/*
/sites/magento2/public_html/pub/media/theme_customization/*
!/sites/magento2/public_html/pub/media/theme_customization/.htaccess
/sites/magento2/public_html/pub/media/wysiwyg/*
!/sites/magento2/public_html/pub/media/wysiwyg/.htaccess
/sites/magento2/public_html/pub/media/tmp/*
!/sites/magento2/public_html/pub/media/tmp/.htaccess
/sites/magento2/public_html/pub/static/*
!/sites/magento2/public_html/pub/static/.htaccess

/sites/magento2/public_html/var/*
!/sites/magento2/public_html/var/.htaccess
/sites/magento2/public_html/vendor
